body {
    background-image: url("../images/Code.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: 100% 100%;
    height:100%; 
    margin:0; 
    padding:0; 
    top:0; 
    left:0; 
    width:100%; 
}

.logo {
    width: 20px;
    height: 75px;
    background: rgb(125, 125, 125, 0.500);
    font-size: 0px;
    margin-top: 5%;
    margin-left: 1%;
    text-align: right;
    transition: width 0.7s, height 0.7s, font 0.7s, background-color 7s;
    margin-top: 4%;
    position: absolute;
  }

  .menu {
    text-decoration: none;
    background-color: rgb(0, 0, 0, 0);
  }
  
  .logo:hover {
    width: 98%;
    height: 75px;
    font-size: 50px;
    background: rgb(255, 0, 0);
    text-align: center;

  }

  .menu:hover {
    width: 200px;
    font-size: 50px;
    background: rgb(60, 255, 0);
    text-align: center;
    text-decoration: none;
  }

  /*    .col- (extra small devices - screen width less than 576px)                      */
  /*    .col-sm- (small devices - screen width equal to or greater than 576px)          */
  /*    .col-md- (medium devices - screen width equal to or greater than 768px)         */
  /*    .col-lg- (large devices - screen width equal to or greater than 992px)          */
  /*    .col-xl- (xlarge devices - screen width equal to or greater than 1200px)        */
  /*    .col-xxl- (xxlarge devices - screen width equal to or greater than 1400px)      */

    /* Responsiveness (Table)     */
    /*Class	Screen width
    /*.table-responsive-sm	< 576px     */
    /*.table-responsive-md	< 768px     */
    /*.table-responsive-lg	< 992px     */
    /*.table-responsive-xl	< 1200px    */
    /*.table-responsive-xxl	< 1400px    */
