body {
    background-image: url("../images/nier.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: 100% 100%;
    height:100%; 
    margin:0; 
    padding:0; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%;
    letter-spacing: 2px;
    font-family: "Monaco";
    font-style: italic;


}

p, a {
    position:relative; 
    z-index:1; 
    padding:10px;
    border-radius: 10px;
    text-align: justify;
    color:aliceblue;
    padding: 10px;
    color: rgb(255, 255, 255);  
    box-sizing: border-box;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 1%;
    word-spacing: 10px;
    text-shadow: 2px 2px red;
    font-style:oblique;
}

p:hover, p:active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px rgb(0, 162, 255);
  }

.app1title {
    color:aliceblue;
    text-align: center;
    background-color: rgba(0, 0, 0, .999);
    padding: 10px;
    color: rgb(55, 255, 55);   
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 3%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 1%;
    z-index:2;
    border:3px solid rgb(255, 255, 255);


    
}

.centerimg {
    display: block;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.font-effect-fire {
    font-family: "Sofia", sans-serif;
    font-size: 30px;
}

a:link, a:visited {
    background-color: red;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}
  
a:hover, a:active {
    background-color: red;
}

.mouse-effect {
    border-radius: 10px; 
    max-width: 120px;
    border:3px solid rgb(255, 0, 225);
    font-size: 20px;
    text-shadow: 2px 2px rgb(0, 0, 0);
    text-decoration: none;
}

/* List Below */

ol {
    border-radius: 15px; 
    background: #ff9999;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}
  
ul {
    border-radius: 15px; 
    background: #3399ff;
    padding: 20px;

}
  
ol li {
    background: #ffe5e5;
    color: darkred;
    padding: 5px;
    margin-left: 35px;
}
  
ul li {

    color: darkblue;
    margin: 5px;
}

/* Table Below */

table {
    border-collapse: collapse;
    width: 100%;
    background: rgba(255, 255, 255, 0.300);
}
  
th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.700);
}

tr:hover {
    background-color: rgb(255, 255, 0);
    text-shadow: 2px 2px rgb(0, 255, 255);
    font-size: 20px;
}

/*  inline	            Displays an element as an inline element.                               */
/*  block	            Displays an element as a block element.                                 */
/*  contents	        Makes the container disappear.                                          */
/*  flex	            Displays an element as a block-level flex container.                    */
/*  grid	            Displays an element as a block-level grid container.                    */
/*  inline-block	    Displays an element as an inline-level block container.                 */
/*  inline-flex	        Displays an element as an inline-level flex container.                  */
/*  inline-grid	        Displays an element as an inline-level grid container.                  */
/*  inline-table	    The element is displayed as an inline-level table.                      */
/*  list-item	        Let the element behave like a <li> element.                             */
/*  run-in	            Displays an element as either block or inline, depending on context.    */
/*  table	            Let the element behave like a <table> element.                          */
/*  table-caption	    Let the element behave like a <caption> element.                        */
/*  table-column-group	Let the element behave like a <colgroup> element.                       */
/*  table-header-group	Let the element behave like a <thead> element.                          */
/*  table-footer-group	Let the element behave like a <tfoot> element.                          */
/*  table-row-group	    Let the element behave like a <tbody> element.                          */
/*  table-cell	        Let the element behave like a <td> element.                             */
/*  table-column	    Let the element behave like a <col> element.                            */
/*  table-row	        Let the element behave like a <tr> element.                             */
/*  none	            The element is completely removed.                                      */
/*  initial	            Sets this property to its default value.                                */
/*  inherit	            Inherits this property from its parent element.                         */

div.absolute {
    top: 80px;
    width: 50px;
    height: 35px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 10.58%;
    z-index:2;
    background-color: rgba(0, 0, 0, 0.999);
    color: rgb(55, 255, 55);  
    box-sizing: border-box;
    border-right:3px solid rgb(255, 255, 255);
    border-bottom:3px solid rgb(255, 255, 255);
    border-left:3px solid rgb(255, 255, 255);
}

/*  overflow	    Specifies what happens if content overflows an element's box                                                */
/*  overflow-wrap	Specifies whether or not the browser can break lines with long words, if they overflow its container        */
/*  overflow-x	    Specifies what to do with the left/right edges of the content if it overflows the element's content area    */
/*  overflow-y	    Specifies what to do with the top/bottom edges of the content if it overflows the element's content area    */

.facex {
    float: right;
}

.facey {
    float: left;
}

.nav {
    background-color: rgb(0, 0, 0); 
    list-style-type: none;
    text-align: center;
    margin: 0 center;
    padding: 0;
    border-radius: 0px; 
  }

.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 0px;
    opacity: 0.8;
}

/*  Combinators >>  */

/*  element element	    div p	   Selects all <p> elements inside <div> elements                                  */
/*  element>element	    div > p	   Selects all <p> elements where the parent is a <div> element                    */
/*  element+element	    div + p	   Selects the first <p> element that are placed immediately after <div> elements  */
/*  element1~element2	p ~ ul	   Selects every <ul> element that are preceded by a <p> element                   */

/*  Pseudo-Class >>  */

/*  ::after	        p::after	        Insert content after every <p> element                          */
/*  ::before	    p::before	        Insert content before every <p> element                         */
/*  ::first-letter	p::first-letter	    Selects the first letter of every <p> element                   */
/*  ::first-line	p::first-line	    Selects the first line of every <p> element                     */
/*  ::marker	    ::marker	        Selects the markers of list items                               */
/*  ::selection	    p::selection	    Selects the portion of an element that is selected by a user    */

/*  https://www.w3schools.com/css/css_pseudo_elements.asp       */
/*  https://www.w3schools.com/css/css_pseudo_classes.asp        */

li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
    transform: translateY(-101%);
    top: 0px;
    padding: 5px 5px;
  }

  input[type="text"] {
    width: 150px;
    display: block;
    margin-bottom: 10px;
    background-color: yellow;
    margin: 0 auto;
  }
  
  input[type="button"] {
    width: 120px;
    margin-left: 35px;
    display: block;
    margin: 0 auto;
  }

  .log {
    position:relative; 
    z-index:1; 
    padding:10px;
    border-radius: 10px;
    text-align: justify;
    color:aliceblue;
    padding: 10px;
    color: rgb(255, 255, 255);  
    box-sizing: border-box;
    max-width: 100px;
    margin: 0 auto;
    word-spacing: 10px;
    font-style:oblique;
}

.log:hover, .log:active {
    background-color: rgba(0, 0, 0, 0);
    color: azure;
    text-align: center;
  }