
/* The element selector selects HTML elements based on the element name*/
p {
    color: red;
    text-align: center;
  } 


#para1 {
    text-align: center;
    color: red;
  }

  /* #id	        Selects the element with id="firstname"         */
  /* .class         Selects all elements with class="intro"         */
  /* element.class  Selects only <p> elements with class="intro"    */
  /* *  	        Selects all elements                            */

  /*    Three Ways to Insert CSS    */
  /*    External CSS                */
  /*    Internal CSS                */
  /*    Inline CSS                  */

  /*    BRUV                  */

  body {
    background-image: url("../images/dosgrey.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
  }

  /*https://www.w3schools.com/css/tryit.asp?filename=trycss_background-image_attachment*/

  /*background	            Sets all the background properties in one declaration                           */
  /*background-attachment	Sets whether a background image is fixed or scrolls with the rest of the page   */
  /*background-clip	        Specifies the painting area of the background                                   */
  /*background-color	    Sets the background color of an element                                         */
  /*background-image	    Sets the background image for an element                                        */
  /*background-origin	    Specifies where the background image(s) is/are positioned                       */
  /*background-position	    Sets the starting position of a background image                                */
  /*background-repeat	    Sets how a background image will be repeated                                    */
  /*background-size	        Specifies the size of the background image(s)                                   */

  p.one {
    border-style: solid;
    border-width: 25px 10px;
    border-color: red green blue yellow;
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
    border-radius: 5px;

    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 100px;
  }

  div {
    width: 300px;
    padding: 25px;
    box-sizing: border-box;
    max-width: 500px;
    height: 100px;
    background-color: powderblue;
  }

  /* Margin = Writtable Area */
  /* Padding = Area */





