:root {
  --white: #ffffff;
  --red: #ff0000;
  --yellow: #ffff00;
  --blue: #0000ff;
  --green: #00aa00;
  --fitleft: calc(10% - 100px);
  --fitcenter: calc(50% - 200px);
  --fitright: calc(90% - 100px);
}

.nierentitled {
  width: 200px;
  height: 40px;
  background-color: var(--blue);
  border-radius: 50px;
  text-align: center;
  position: relative;
  animation: niernimation 5s infinite;
  color: #ffffff;
  padding: 1%;
  font-family: "Sofia", sans-serif;
  font-size: 15px;
}

@keyframes niernimation {
  0%   {background-color: var(--red); left: var(--fitleft); top:0px; width: 200px;   font-size: 15px;   padding-bottom: 0%;}
  25%  {background-color: var(--yellow); left: var(--fitcenter); top:0px;   color: #000000; width: 400px;   font-size: 30px; padding-bottom: 1%;}
  50%  {background-color: var(--blue); left: var(--fitright); top:0px; color: #ffffff; width: 200px;  font-size: 15px; padding-bottom: 0%;}
  75%  {background-color: var(--green); left: var(--fitcenter); top:0px; color: #000000; width: 400px;   font-size: 30px; padding-bottom: 1%;}
  100% {background-color: var(--red); left: var(--fitleft); top:0px; width: 200px;   font-size: 15px; padding-bottom: 0%;}
}

body {
  background-color: #888888;
}

.buttonxbase {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 105px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 1px;
    cursor: pointer;
    float: left;
}
  
  .buttonx2 {background-color: #008CBA;}

  .buttonx3 {background-color: #f44336;}

  .buttonx4 {background-color: #e7e7e7; color: black;}

  .buttonx5 {background-color: #555555;}

.pagination {
    margin-top: 7%;
    display: inline-block;
    margin-left: var(--fitcenter);
  }
  
  .pagination a {
    color: rgb(125, 125, 125);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #ddd;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
  
  .pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .newspaper {
    column-count: 3;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: lightblue;
  }

  /*  User  Interface   */

  /*  outline-offset	Adds space between an outline and the edge or border of an element    */
  /*  resize	Specifies whether or not an element is resizable by the user                  */

  /*  box-sizing	Defines how the width and height of an element are calculated: should they include padding and borders, or not     */